*{
margin:0;
padding:0;
font:14px "Times New Roman", Times, serif;
}
html, body {
height:100%;
}
html {
background-image:url(../img/astrea-bg.jpg);
color:#363636;
}
.headers h1 i,
.headers h2 i,
.headers h3 i,
.headers h4 i {
    padding-right: 10px;
    color: #A8D13B;
    font-size: 0.8em;
}


.headers h2:after,
.headers h3:after {
    position: absolute;
    content: "";
    height: 1px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    box-shadow:
        0 -1px 0 rgba(0,0,0,0.1),
        0 1px 0 rgba(255,255,255,0.6);
}

.headers h2:after { width:  100%; }
.headers h3:after { width:  100%; }


.headers h1 {
    text-align: center;
    margin:10px;
    color: #6B5344;
    font-weight: normal;
    position: relative;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5);
    font-size: 300%;
    line-height: 40px;
    font-family: 'Carrois Gothic', sans-serif;
}

.headers h2 {
    margin:10px 0 30px 0;
    text-align: center;
    color: #6B5344;
    font-weight: normal;
    font-family: 'Scada', sans-serif;
    position: relative;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5);
    font-size: 30px;
    line-height: 40px;
}

.headers h3 {
    margin: 1em 0 0.75em;
    padding: 0 0 5px 0;
    color: #6B5344;
    font-weight: normal;
    font-family: 'Scada', sans-serif;
    position: relative;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5);
    font-size: 24px;
    line-height: 40px;
}
.headers h4 {
    position:absolute;
    z-index: 10;
    margin: 1em 0 0.75em;
    padding: 0 0 5px 0;
    color: #6B5344;
    font-weight: normal;
    font-family: 'Scada', sans-serif;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5);
    font-size: 16px;
    line-height: 20px;
}

p {
	line-height:21px;
}
a {
	color:#363636;
	font-size:inherit;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
	color:#000;
}

/*Главная область сайта*/
#container {
    width:80%;
    min-width:1200px;
	height:100%;
	margin:0 auto;
}
/*Шапка сайта*/
	#header {
		height:100px;
		position:relative;
	}

    #topLogo {
        position: absolute;
        maring:0;
        padding:0;
    }

    #admin_title {
        position:absolute;
        left:385px;
        top:15px;
    }

/*Главное меню*/
	#mainMenu {
		width:100%;
		border:3px solid #cead56;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
		border-radius:5px;
		background: -moz-linear-gradient(#ba9944, #8b5c39);
		background: -webkit-linear-gradient(#ba9944, #8b5c39);
		background: -o-linear-gradient(#ba9944, #8b5c39);
		background: -ms-linear-gradient(#ba9944, #8b5c39);
		background: linear-gradient(#ba9944, #8b5c39);
		-webkit-box-shadow:1px 1px 5px 0px #666666;
		-moz-box-shadow:1px 1px 5px 0px #666666;
		-o-box-shadow:1px 1px 5px 0px #666666;
		-ms-box-shadow:1px 1px 5px 0px #666666;
		box-shadow:1px 1px 5px 0px #666666;
	}
		#mainMenu ul {
			display:table;
			width:100%;
			list-style:none;
			table-layout:fixed;
		}
			#mainMenu li {
				display:table-cell;
				vertical-align:middle;
				border-left:1px solid #ba9944;
				border-right:1px solid #8b5c39;
			}
				#mainMenu li.firstLi {
					border-left:none;
				}
				#mainMenu li.lastLi {
					border-right:none;
				}
					#mainMenu .hover:hover ,#mainMenu .firstHover:hover ,#mainMenu .lastHover:hover {
						background: -moz-linear-gradient(#8b5c39, #ba9944);
						background: -webkit-linear-gradient(#8b5c39, #ba9944);
						background: -o-linear-gradient(#8b5c39, #ba9944);
						background: -ms-linear-gradient(#8b5c39, #ba9944);
						background: linear-gradient(#8b5c39, #ba9944);
					}
						#mainMenu .firstHover:hover {
							-moz-border-radius:2px 0 0 2px;
							-webkit-border-radius:2px 0 0 2px;
							-o-border-radius:2px 0 0 2px;
							-ms-border-radius:2px 0 0 2px;
							border-radius:2px 0 0 2px;
						}
						#mainMenu .lastHover:hover {
							-moz-border-radius:0 2px 2px 0;
							-webkit-border-radius:0 2px 2px 0;
							-o-border-radius:0 2px 2px 0;
							-ms-border-radius:0 2px 2px 0;
							border-radius:0 2px 2px 0;
						}
                        #active {
                            background: -moz-linear-gradient(#8b5c39, #ba9944);
                            background: -webkit-linear-gradient(#8b5c39, #ba9944);
                            background: -o-linear-gradient(#8b5c39, #ba9944);
                            background: -ms-linear-gradient(#8b5c39, #ba9944);
                            background: linear-gradient(#8b5c39, #ba9944);
                        }
							#mainMenu a {
								display:block;
								height:50px;
								text-align:center;
								text-decoration:none;
								color:#fff;
								font:135%/255% "Palatino Linotype", "Book Antiqua", Palatino, serif;
							}
							#mainMenu a:hover {
								color:#363636;
							}
/*Центральный блок сайта*/
	#main {
		margin-top:13px;
		min-height:100%;
	}
		#all {
			padding:0 0 230px;
			overflow:hidden;
		}

/*Блок контента*/

    #turnInfo {
        border:3px solid #cead56;
        background:#eddc99;
        padding:0 20px 10px 20px;
        margin-bottom:20px;
        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        -o-border-radius:7px;
        -ms-border-radius:7px;
        border-radius:7px;
        -webkit-box-shadow:1px 1px 5px 0px #666666;
        -moz-box-shadow:1px 1px 5px 0px #666666;
        -o-box-shadow:1px 1px 5px 0px #666666;
        -ms-box-shadow:1px 1px 5px 0px #666666;
        box-shadow:1px 1px 5px 0px #666666;
        outline: none;
        position:relative;
}

    .a_nav {
        /*z-index:1000;*/
        margin-left:5px;
        margin-right: 5px;
    }

    #turn_textarea {
        padding:10px;
    }

    #category_textarea {
        padding:10px;
    }

    #turn_input_title {
        width:500px;
    }

    #category_input_title {
        width:200px;
    }

    #input_creation_date {
        text-align:center;
        font-weight: bold;
        width:100px;
    }

    .formSections  {
        padding:5px;
        border:3px solid #cead56;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        -o-border-radius:5px;
        -ms-border-radius:5px;
        border-radius:5px;
        margin-bottom: 10px;
        background: #ffffff;
        outline: none;
    }

    .formLabels {
        font-size:24px;
    }


    .forCheckBox {
        font-size:18px;
        margin-right: 5px;
        line-height: 12px;
    }
    #turns_grid {
        float:left;
        width:60%;
    }

    #categories_grid {
        float:left;
        width:40%;
    }

    #turnsprices_form {
        float:right;
        height:300px;
        width:35%;
        margin-right: 50px;
    }

    #turnsprices_grid {
        float:left;
        width:60%;
        height:560px;
    }

    #users_grid {
        float:left;
        width:60%;
        height:560px;
    }

    .grids {
        height:675px;
    }

.formButton {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ba9944), color-stop(1, #8b5d39) );
    background:-moz-linear-gradient( center top, #ba9944 5%, #8b5d39 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba9944', endColorstr='#8b5d39');
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#ffffff;
    font-size:18px;
    font-style:normal;
    height:33px;
    line-height:33px;
    width:110px;
    text-decoration:none;
    text-align:center;
    outline: none;
    margin-top: 15px;
    margin-right: 15px;
}
.formButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8b5d39), color-stop(1, #ba9944) );
    background:-moz-linear-gradient( center top, #8b5d39 5%, #ba9944 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b5d39', endColorstr='#ba9944');
    background-color:#8b5d39;
    outline: none;
    color:#363636;
}


/*Футер*/
	#footer {
		height:230px;
		position:relative;
		margin-top:-230px;
	}

    #footer:before {
        position: absolute;
        content: "";
        height: 1px;
        border-radius: 2px;
        top: 0;
        left: 0;
        box-shadow:
            0 -1px 0 rgba(0,0,0,0.1),
            0 1px 0 rgba(255,255,255,0.6);
        width:100%;
    }


#leftMenu {
    background:#eddc99;
    border:3px solid #cead56;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -o-border-radius:7px;
    -ms-border-radius:7px;
    border-radius:7px;
    padding:20px 20px 0 20px;
    margin-bottom:20px;
    -webkit-box-shadow:1px 1px 5px 0px #666666;
    -moz-box-shadow:1px 1px 5px 0px #666666;
    -o-box-shadow:1px 1px 5px 0px #666666;
    -ms-box-shadow:1px 1px 5px 0px #666666;
    box-shadow:1px 1px 5px 0px #666666;
}
#firstLevel {
    list-style:none;
}
#firstLevel>li {
    background: -moz-linear-gradient(#ba9944, #8b5c39);
    background: -webkit-linear-gradient(#ba9944, #8b5c39);
    background: -o-linear-gradient(#ba9944, #8b5c39);
    background: -ms-linear-gradient(#ba9944, #8b5c39);
    background: linear-gradient(#ba9944, #8b5c39);
    border:1px solid #8c5c39;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    height:39px;
    width:224px;
    margin-bottom:20px;
    text-align:center;
    position:relative;
}
.img  {
    width:36px;
    height:39px;
    float:left;
    position:relative;
    border-right:1px solid #8b5c39;
}
.img img {
    width:36px;
    position:absolute;
    left:0;
}
.hoverSecondLevel {
    position:relative;
    margin-left:37px;
    height:39px;
    width:186px;
}
.hoverSecondLevel>a {
    text-decoration:none;
    color:#fff;
    display:block;
    width:183px;
    height:39px;
    font:18px/39px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-left:1px solid #ba9944;
}
.hoverSecondLevel>a.overfull {
    line-height:18px;
}
.hoverSecondLevel:hover>a {
    position:absolute;
    padding-right:23px;
    background:#eddc99;
    border-top:1px solid #8b5c39;
    border-bottom:1px solid #8b5c39;
    left:0;
    top:-1px;
    color:#363636;
    z-index:2;
}
.secondLevel {
    -moz-border-radius:5px 5px 5px 0;
    -webkit-border-radius:5px 5px 5px 0;
    -o-border-radius:5px 5px 5px 0;
    -ms-border-radius:5px 5px 5px 0;
    border-radius:0 5px 5px 5px;
    list-style:none;
    min-width:300px;
    position:absolute;
    display:none;
    top:-1px;
    border:1px solid #8b5c39;
    left:206px;
    background:#eddc99;
    padding:12px 10px 0 10px;
    z-index:1;
}
.secondLevel li {
    text-align:left;
    margin-bottom:10px;
    background:url(../img/marker.png) 0% 7px no-repeat;
    padding-left:10px;
}
.secondLevel li a {
    font:14px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-decoration:none;
    color:#363636;
}
.secondLevel li a:hover {
    text-decoration:underline;
    color:#000;
}
.hoverSecondLevel:hover .secondLevel {
    display:block;
}

.addTurn {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ba9944), color-stop(1, #8b5d39) );
    background:-moz-linear-gradient( center top, #ba9944 5%, #8b5d39 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba9944', endColorstr='#8b5d39');
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#ffffff;
    font-size:18px;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:150px;
    text-decoration:none;
    text-align:center;
    outline: none;
    margin-top: 15px;
    margin-right: 15px;
}
.addTurn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8b5d39), color-stop(1, #ba9944) );
    background:-moz-linear-gradient( center top, #8b5d39 5%, #ba9944 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b5d39', endColorstr='#ba9944');
    background-color:#8b5d39;
    outline: none;
    text-decoration: none;
    color:#363636;
}

#turns_empty {
    font-size:18px;
}