div.info,div.success,div.warning,div.error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

div.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/info.png');
}

div.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../img/success.png');
}

div.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/warning.png');
}

div.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/error.png');
}

span {
    margin: 5px 5px 5px 5px;
}

span.success {
    color: #4F8A10;
}

span.error {
    color: #D8000C;
}

#login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}
